#outer-container {
  color: #444;
  background-color: #fff;
  width: 600px;
  text-align: left;
  margin: 20px auto 5px auto;
  padding: 15px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.header-icon {
  float: left;
  margin-right: 15px;
}

.header-contact-left {
  float: left;
  margin-top: 10px;
}

.header-contact-left p {
  margin: 0px;
  font-size: 1.2em;
}

.header-contact-right {
  float: right;
  text-align: right;
  margin-top: 10px;
}

h1 {
  margin: 0px;
  font-size: 1.6em;
  font-weight: 700;
  color: #444;
}

h2 {
  margin: 10px 0px 10px 0px;
  padding: 3px 5px;
  font-size: 11pt;
  font-weight: 550;
  color: #222;
  background-color: #ddd;
  text-align: left;
  border-radius: 5px / 5px;
}

.experience-heading {
  /* border: 1px solid #f00; */
}

h3 {
  font-size: .90em;
  color: #222;
  display: inline;
}

hr { 
  color: #444; 
  margin-top: 3px; 
}

a:link, a:visited {
  color: #444;
}

ul {
  border: 0px solid;
  padding-left: 30px;
  margin: 5px 0px 10px 0px;
}

.technical-skills {
  text-align: center;
  margin: 0px;
}

.years {
  float: right;
}

.bold { 
  font-weight: bold; 
}

.to-see-more {
  font-size: .8em;
  text-align: center;
}

@media print {
  #animation-container {
    display: none;
  }
  #outer-container {
    margin-top: 10px;
  }
  a:link, a:visited {
    text-decoration: none;
  }
  #footer {
    display: none;
  }
}
