#home.outer-container {
    --nav-link-color: #d0d0d0;
    --nav-link-hover-color: #fff;

    justify-content: center;
    align-items: center;

    & div.inner-container {
        & img.home-logo {
            height: 300px;
            margin-bottom: 20px;
        }

        & img.home-logo.desktop-logo {
            display: block;
        }

        & img.home-logo.mobile-logo {
            display: none;
        }
    }
}

@media (max-width: 700px) {
    #home.outer-container {
        & div.inner-container {
            & img.home-logo.desktop-logo {
                display: none;
            }

            & img.home-logo.mobile-logo {
                display: block;
            }
        }
    }
}
