#home.outer-container {
    --nav-link-color: #d0d0d0;
    --nav-link-hover-color: #fff;

    justify-content: center;
    align-items: center;

    & div.inner-container {
        & img.home-logo {
            height: 300px;
            margin-bottom: 20px;
        }

        & img.home-logo.desktop-logo {
            display: block;
        }

        & img.home-logo.mobile-logo {
            display: none;
        }

        & .nav-link {
            display: block;
            font-size: 28pt;
            margin: 0;
            padding-bottom: 10px;
            color: var(--nav-link-color);
            text-decoration: none;
            transition:
                color 0.3s,
                transform 0.3s;

            & > span.subtext {
                font-size: 18pt;
            }

            &:hover {
                color: var(--nav-link-hover-color);
                transform: scale(1.143);
                transition:
                    color 0.3s,
                    transform 0.3s;
            }
        }
    }
}

@media (max-width: 700px) {
    #home.outer-container {
        & div.inner-container {
            & img.home-logo.desktop-logo {
                display: none;
            }

            & img.home-logo.mobile-logo {
                display: block;
            }
        }
    }
}
