#home.outer-container {
    justify-content: center;
    align-items: center;

    div.inner-container {
        $nav-link-color: #d0d0d0;
        $nav-link-hover-color: #fff;

        /* Navigation links styling */
        .nav-link {
            display: block;
            font-size: 28pt;
            margin: 0;
            padding-bottom: 10px;
            color: $nav-link-color;
            text-decoration: none;
            transition: color 1s;
            transition: font-size 0.3s;

            & > span.subtext {
                font-size: 18pt;
            }

            &:hover {
                color: $nav-link-hover-color;
                font-size: 32pt;
                transition: color 1s;
                transition: font-size 0.3s;
            }
        }
    }
}
