body {
    background-color: #202020;
    font-family: verdana;
    color: #ebebeb;
    text-align: center;
    height: 100%;
    overflow: auto;
}

div.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.inner-container {
    border: 2px solid #a0a0a0;
    width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    color: #e9a23e;
}

h2 {
    color: #fdc679;
}

a {
    color: #d0d0d0;
}

a:hover {
    color: #fff;
}

ul {
    list-style-type: none;
}