// Sass variables
$primary-bg: #101010;
$primary-text: #ebebeb;
$accent-orange: #e9a23e;
$accent-yellow: #fdc679;
$link-color: #d0d0d0;
$link-hover-color: #fff;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: $primary-bg;
    font-family: optima;
    color: $primary-text;
    text-align: center;
}

// .App {
//     min-height: 100vh;
// }

div.outer-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    color: $accent-orange;
}

h2 {
    color: $accent-yellow;
}

// a {
//     color: $link-color;
//     text-decoration: none;

//     &:hover {
//         color: $hover-color;
//     }
// }

.back-link {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 16px;
    background-color: #333;
    border-radius: 4px;
    text-decoration: none;
    color: $link-color;
    transition: background-color 0.3s;

    &:hover {
        background-color: #444;
        color: $link-hover-color;
    }
}

#footer {
    text-align: center;
    margin-top: 20px;
    color: $link-hover-color;

    a:link,
    a:visited {
        color: $link-hover-color;
    }
}
